@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    
    
}
html,body{
    width: 100%;
    height: 100%;
}
section{
    margin-bottom: 120px;
}
p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 15px;
}
button{
    padding: 18px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
    margin-top: 45px;
    color: #FFF;
    font-size: 20px;
}
/* main banner start*/
.banner{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url('../Assets/Banner\ Image.png'),no-repeat;
    
}
.primary{
    max-width: 100%;
    border-radius: 16px;
    height: 600px;
    width: 82%;
    margin: 50px auto;
    background-size: cover;
    
}

.primary .banner-title{
    text-align: center;
    padding: 177px 344px;
    font-family: 'Merriweather', serif;
}
.primary .banner-title h2{
    color: #FFF;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 400;
}
.primary .banner-title h1{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
/* main banner end */

/* discount section start */
.discount-part{
    margin: 120px auto;
    width: 800px;
    display: flex;
    justify-content: center;
    align-content: center;
    display: block;
}
.discount-part .discount-part-heading{
    text-align: center;
    font-family: Inter;
}
.discount-part .discount-part-heading h1{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.discount-part .discount-part-heading h4{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.discount-part .discount-part-heading h2{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}
/* discount-section end */


/* welcome party part start */
#welcome-party .primary{
    /* background-image: url('../Assets/Vectorrr.png'); */
    background:  linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../Assets/Vectorrr.png');

}
.welcome-party-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.welcome-party-container .welcome-party-container-text{
    width: 55%;
    color: #FFF;
}
.welcome-party-container .welcome-party-container-text h1{
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 24px;
    margin-top: 126px;
}
.welcome-party-container .welcome-party-container-text p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px; /* 166.667% */
    margin-bottom: 43px;
}
.welcome-party-container .welcome-party-container-text h3{

    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}
.welcome-party-container-img {
    width: 319.83px;
   height: 464.662px;
   
}
.welcome-party-container-img img{
    margin: 65px 60px 65px 0;
}

/* party info part start */
#party .primary{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#party .party-info .party-info-description{
    text-align: center;
  
}
#party .party-info .party-info-description .color{
    color: #F00;
}
.party-info-description h3{
    color: #070211;
    font-family: Inter;
    font-size: 33px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 10px;
}
/* party info part end */


/* coming soon section start */
#coming-soon .primary{
    background-color: #FFF;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    
}
#coming-soon .primary .coming-soon-left-part{
    
    text-align: left;
    margin-right: 70px;
}
#coming-soon .primary .coming-soon-left-part *{
    margin-bottom: 18px;
}
#coming-soon .primary .coming-soon-right-part *{
    margin-bottom: 18px;
}
#coming-soon .primary .coming-soon-left-part h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
#coming-soon .primary .coming-soon-left-part p{
    width: 350px;
}
#coming-soon .primary .coming-soon-left-part h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.coming-soon-middle-part{
    border-radius: 50%;
    border: 15px solid #F00;
    width: 364.844px;
    height: 364.844px; 
    padding: 2%;   
}
.coming-soon-middle-part .coming-soon-middle-part-img {  
    background: url('../Assets/Ellipse\ 1.png') , no-repeat;
    width: 364.844px;
    height: 364.844px;    
}
#coming-soon .primary .coming-soon-right-part{
    margin-left: 118px;
}
#coming-soon .primary .coming-soon-right-part h2{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}
#coming-soon .primary .coming-soon-right-part img{
    width: 140px;
    height: 140px;
}
/* coming soon section end */

/* holiday section start */

#holiday-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#holiday-section .main-container{
    background: #FFF;
    border-radius: 5px;
    max-width: 1320px ;
    height: 950px;
    width: 82%;   
    
    
}
#holiday-section .holiday-section-container .holiday-section-text{
    text-align: center;
    height: 30%;
    width: 100%;
    margin: 0 auto;
}
#holiday-section .holiday-section-container .holiday-section-text p{
    margin: 0 90px;
    margin-top: 20px;
    
}
#holiday-section .holiday-section-container .holiday-section-text h4{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}
#holiday-section .holiday-section-container .holiday-section-text h1
{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
#holiday-section .holiday-section-container .holiday-section-text .holidays{
    color: #F00;
}

#holiday-section .holiday-section-images{
    width: 100%;
    height: 70%;
    background-color: black;
    display: flex;
    background:url('../Assets/Group\ 44.png'),url('../Assets/Rectangle\ 1.png'),url('/Assets/Group\ 75.png'), url('../Assets/Rectangle\ 2.png'); 
    background-position:70% 25%,right top,15% bottom ,bottom  ;   
    background-size: 200px 200px,429px 435px,490px 490px,100% 34%;
    background-repeat: no-repeat;
    border-radius: 5px;
} 
/* holiday section end */

/* portfolio part staart */

#portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#portfolio .portfolio-container{
    
    max-width: 1320px;
    width: 82%;
    border-radius: 8px;
    height: 1200px;
    
}

#portfolio .portfolio-container .portfolio-title{
    text-align: left; 
    height: 20%;  
}
#portfolio .portfolio-container .portfolio-title h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}
#portfolio .portfolio-container .portfolio-title h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}
.portfolio-container .row{
    display: flex; 
    align-items: center;  
}
.row img{
    width: 424px;
    height: 450px;
    
 
}
.row-img img{
    margin: 6px;
}
.row-img img:hover{
    transition: 1s;
    transform: scale(1.1);
    border-radius: 50%;
}
/* portfolio part end */

/*Subscribe section start*/
#subscribe .primary{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    
}
.subscribe-container{
    
    text-align: center;
    padding: 56px;
}
.subscribe-container *{
    margin: 10px;
}
.subscribe-container img{
    width: 150px;
    height: 150px;
}
.subscribe-container h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;

}
.subscribe-container .subscribe-input input[type=email]
    {
    display: inline;
    justify-content: center;
    border-radius: 50px 0 0px 50px;
    background: #FFF;
    border: none;
    width: 600px;
    height: 72px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    margin-right: -1px;
    
}
.subscribe-input input::placeholder{
        text-align: left;
        padding: 25px 60px 25px 30px;      
}

.subscribe-container .subscribe-input input[type=submit]{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    width: 210px;
    height: 72px;
    font-weight: 600;
    line-height: normal;
    border: none;
    margin-left: -1px;
}
/*Subscribe section end*/

footer{
    width: 100%;
    height: 500px;
    background-color: #070211;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 80%;
    height: 60%;
    margin: 0px auto;
    
}
.footer .part-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .part-1 .footer-text{
    width: 390px;
}
.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 30px 500px;
    margin: 50px auto;
    border-bottom:1px solid rgba(255, 255, 255, 0.15); 
}
.footer-icons img{
    width: 54px;
    height: 54px;
    
}

.footer .footer-text{
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 40px;
}
.footer .part-2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}